# desativa o ambiente
alias deact='deactivate'

# Alias de atalhos do projeto
alias build='python3 mobile_app/main.py' # Compilador do App Mobile
alias readExcel="python api/excel_importer/lerExcel.py" # Compilador para ler o arquivo excel
alias createJson="python api/excel_importer/excel_json.py" # Compilador para extrair dados do excel para json
alias database="python api/database/database_handler.py" # Compilador para o BD(Bando de Dados)


# Exportar variáveis necessárias para rodar o Flask corretamente
export FLASK_APP=api/app.py
export FLASK_ENV=development  # opcional, se quiser debug e recarregamento automático

# Alias local para listar rotas do Flask
alias api="python api/app.py" # Compilador para API em Flask
alias routes='flask --app $FLASK_APP routes'
